.profileCardPopup {
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  background-color: var(--main-bg-color);
  padding: 10px;
  z-index: 500;
  border-radius: 30px;
}
.profileCardPopupHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
  border-radius: 9999px;
  padding: 10px;
}
.profileCardNewAccount,
.profileCardLogout {
  color: white;
  font-size: 15px;
  padding: 15px;
  border-top: 1px solid var(--border-color);
}
.profileCardNewAccount:hover,
.profileCardLogout:hover {
  background-color: var(--hover-color);
}
